iframe {
  float: right; }

.jumbotron h1 {
  text-align: center;
  color: white; }

.jumbotron {
  background-color: #c3c7c4; }

nav ul li {
  display: inline;
  list-style-type: none;
  font-size: 200%;
  margin: 20px; }

.jumbotron nav {
  text-align: center; }

.responsive {
  height: 100%;
  max-width: 100%; }

.about ul li {
  list-style-type: none;
  font-size: 130%; }

.row {
  background-color: #aca9a9; }

html {
  background-color: #5e5a5a; }
