iframe {
  float: right; }

.jumbotron h1 {
  text-align: center; }

.jumbotron {
  background-color: #d15a5a; }

nav ul li {
  display: inline;
  list-style-type: none;
  font-size: 200%;
  margin: 20px; }

.jumbotron nav {
  float: right; }

img {
  height: auto;
  max-width: 100%; }
